/* 
    Document   : login
    Created on : 2012-10-24, 13:08:26
    Author     : fantasy
    Description:
        Purpose of the stylesheet follows.
        The addtional stylesheet of login.jsp
*/

root { 
    display: block;
}

